
<div id="userItem">
    <h1>Create new user</h1>
    <div>
        <input type="text" id="firstName" placeholder="First name">
        <input type="text" id="lastName" placeholder="Last name">
    </div>
    <div>
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="password" placeholder="Password">
    </div>
    <div>
        <input type="text" id="role" placeholder="Role">
    </div>
    <div>
        <input type="button" id="btn_save" value="Save User">
    </div>
</div>

<div id="childWrapper">
    <table class="usersTable">
        <thead>
        <tr>
            <th class="c_1">Name</th>
            <th class="c_2">Email</th>
        </tr>
        </thead>
    </table>
    <div>
        <table class="usersTable">
            <tbody id="usersContainer">

            </tbody>
        </table>
    </div>
</div>