body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: url("http://5.189.134.154:81/_classpath/smartui/img/default/sweemline-bg.png");
}

#menuButtons,
#menuExit {
    padding-top: 7px;
}

li {
    list-style-type: none;
}

#topBar {
    width: 100%;
    background-color: #c4e0e9;
    height: 50px;
    margin: 0 0 0 0;
}

.imgSize {
    width: 50px;
    height: 50px;
}

#exitBtn {
    float: right;
}

#wrapperHolder {
    /*background: url("http://5.189.134.154:81/_classpath/smartui/img/default/sweemline-bg.png");*/
    height: auto;
    position: relative;
    padding: 2% 2% 2% 2%;
}

#wrapper {
    /*margin: 0 2% 2% 2%;*/
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: relative;
    height: 100%;
}

#footerBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #c4e0e9;
}

#letsAddUser,
.letsEditUser {
    cursor: pointer;
}